In [12]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession \
    .builder \
    .appName("Yelp Data Exploration") \
    .getOrCreate()

In [9]:
business_df = spark.read.json("yelp_academic_dataset_business.json")
business_df.printSchema()

root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: string (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: string (nullable = true)
 |    |-- BYOB: string (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: string (nullable = true)
 |    |-- BikeParking: string (nullable = true)
 |    |-- BusinessAcceptsBitcoin: string (nullable = true)
 |    |-- BusinessAcceptsCreditCards: string (nullable = true)
 |    |-- BusinessParking: string (nullable = true)
 |    |-- ByAppointmentOnly: string (nullable = true)
 |    |-- Caters: string (nullable = true)
 |    |-- CoatCheck: string (nullable = true)
 |    |-- Corkage: string (nullable = true)
 |    |-- DietaryRestrictions: string (nullable = true)
 |    |-- DogsAllowed: string (nullable = true)
 |    |-- DriveThru: string (nullable = true)
 |    |-- GoodForDancing: string (nullable = true)
 |    |-- GoodForKids: string (nullable = true)
 |    |-- GoodForMeal: string (nullable = true)
 |    |-- HairSpecializesIn: string (nullable = true)
 |    |-- HappyHour: string (nullable = true)
 |    |-- HasTV: string (nullable = true)
 |    |-- Music: string (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: string (nullable = true)
 |    |-- OutdoorSeating: string (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: string (nullable = true)
 |    |-- RestaurantsDelivery: string (nullable = true)
 |    |-- RestaurantsGoodForGroups: string (nullable = true)
 |    |-- RestaurantsPriceRange2: string (nullable = true)
 |    |-- RestaurantsReservations: string (nullable = true)
 |    |-- RestaurantsTableService: string (nullable = true)
 |    |-- RestaurantsTakeOut: string (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: string (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- neighborhood: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)

In [18]:
# Count most common business 
business_df.groupBy("city").count() \
    .orderBy(col("count").desc()) \
    .toPandas()

                  city  count
0            Las Vegas  28865
1              Phoenix  18633
2              Toronto  18233
3            Charlotte   9204
4           Scottsdale   8822
5              Calgary   7384
6           Pittsburgh   6804
7                 Mesa   6239
8             Montr√©al   6045
9            Henderson   4815
10               Tempe   4492
11            Chandler   4272
12             Madison   3509
13           Cleveland   3506
14            Glendale   3469
15             Gilbert   3397
16         Mississauga   2954
17              Peoria   1868
18             Markham   1699
19     North Las Vegas   1508
20           Champaign   1243
21         Scarborough   1175
22          North York   1140
23            Surprise   1119
24       Richmond Hill    978
25             Concord    975
26            Brampton    929
27             Vaughan    853
28            Goodyear    827
29           Etobicoke    760
...                ...    ...
1081         Oakridges      1
1082         Lavaltrie      1
1083  North Scottsdale      1
1084        Fitchburgh      1
1085            Ferrel      1
1086      Etobicoke On      1
1087        Oak Ridges      1
1088          Lawrence      1
1089           lachine      1
1090         Mt. Holly      1
1091    West Las Vegas      1
1092    Saint-Philippe      1
1093       Beauharnois      1
1094           Mont√©al      1
1095        Pepperpike      1
1096         Mt Albert      1
1097         Edgewater      1
1098          Cardinal      1
1099          Totronto      1
1100         Suite 120      1
1101      L'√éle-Perr√¥t      1
1102              Onda      1
1103            Boston      1
1104      Clark County      1
1105       San Gennaro      1
1106   South Charlotte      1
1107      Indian Land,      1
1108            Lingen      1
1109           Fithian      1
1110              Plan      1

[1111 rows x 2 columns]